$button_font: 'Open Sans', sans-serif;
$heading_font: 'Open Sans', sans-serif;
$paragraph_font: 'Open Sans', sans-serif;
$red: #cd0203;
$dark_background_colour: #202020;
$light_background_colour: #ebebeb;
$hover_red: #de1314;
$header_height: 100px;
$wrap_width: 92%;
$wrap_padding: 4%;


/* =Reset
-------------------------------------------------------------- */
body,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
}

body {
	background: $light_background_colour;
}

b,
strong {
	font-weight: bold;
}

/* =Force HTML5 elements block
-------------------------------------------------------------- */
header,
nav,
article,
footer,
address {
	display: block;
}

/* =Hidden sections
-------------------------------------------------------------- */
.screen-reader-text {
	display: none;
}

/* =Fonts
-------------------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icons/icomoon.eot?gfoklk');
	src:  url('../fonts/icons/icomoon.eot?gfoklk#iefix') format('embedded-opentype'),
		url('../fonts/icons/icomoon.ttf?gfoklk') format('truetype'),
		url('../fonts/icons/icomoon.woff?gfoklk') format('woff'),
		url('../fonts/icons/icomoon.svg?gfoklk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* =Header
-------------------------------------------------------------- */
#site-header {
	z-index: 2;
	position: absolute;
	top: 40px;
	right: $wrap_padding;
	background: #000;
	width: $wrap_width;
	height: $header_height;

	h1 {
		position: absolute;
		top: 17px;
		left: 30px;
		width: 215px;
		height: 64px;
		background: url(../images/logo.png);
		text-indent: -999em;

		a {
			display: block;
		}

	}

	ul {
		float: left;
		width: 100%;
	}

	li {
		float: left;
		font-family: $button_font;
		font-size: 1.0rem;
		text-transform: uppercase;
		font-weight: 800;

		&:first-child {
			margin-left: 270px;

		}

		&:last-child {
			float: right;
			background: $red;
			height: 62px;
			color: #fff;
			padding: 19px 40px;
			font-size: 0.9rem;
			font-weight: 400;

			span {
				font-weight: 700;
				display: block;
				font-size: 1.5rem;
				margin-bottom: 7px;
			}

			a {
				display: inline;
				font-weight: 800;
				height: auto;
				line-height: 1;
				padding: 0;
				margin: 0;
			}

		}

		a {
			display: block;
			color: #fff;
			height: $header_height;
			line-height: $header_height;
			padding: 0 22px;
			text-decoration: none;

			&:hover {
				background: #222;
			}

		}

	}

}

/* =Featured news
-------------------------------------------------------------- */
#featured-news {
	position: relative;
	width: 100%;
	height: 550px;
	background-position: center;
	background-size: cover;
	text-align: center;

	.text {
		position: absolute;
		bottom: 50px;
		width: 100%;
	}

	h1 {
		width: 60%;
		margin-bottom: 30px;
		padding: 0 20%;
		color: #fff;
		text-align: center;
		font-family: $heading_font;
		font-size: 3rem;
		text-shadow: 0 0 2px #000;
		font-weight: 700;
	}

}

/* =Latest news
-------------------------------------------------------------- */
#main {
	float: left;
	width: $wrap_width;
	padding: 0 $wrap_padding 60px $wrap_padding;

	header h2 {
		margin: 40px 0 20px 0;
	}

	article {
		float: left;
		width: 32%;
		padding-bottom: 60px;
		background: #fff;
		margin: 0 20px;
		position: relative;
		left: -20px;

		img {
			display: block;
			width: 100%;
		}

		date,
		p {
			display: block;
			padding-right: 30px;
			padding-left: 30px;
		}

		date {
			margin: 20px 0;
			font-family: $paragraph_font;
			font-weight: 600;
			font-size: 0.9rem;
		}

		p {
			font-family: $paragraph_font;
			font-weight: 600;
			font-size: 1.4rem;
		}

	}
}

/* =Schedule
-------------------------------------------------------------- */
#schedule {
	background: $dark_background_colour;
	float: left;
	width: 100%;
	padding: 60px 0;

	img {
		display: block;
		margin: 0 auto 20px auto;
	}

	li {
		float: left;
		width: 16.6666%;
		font-family: $button_font;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.1rem;
		text-align: center;
		color: #bbb;

		div {
			padding: 20px 0;
			border-left: 1px solid #333;

		}

		&.post-1 div {
			border-left: none;
		}

		&.double-slide {
			width: 33.3333%;

			h2 {
				color: #fff;
				font-weight: 600;
				font-size: 1.5rem;
				margin: 20px 0 20px 0;
			}

			span {
				color: #bbb;
				display: block;
				margin-bottom: 10px;
				font-size: 0.9em;
			}

			date {
				display: inline;
				font-size: 0.9em;
			}

		}

		span,
		date {
			display: block;
		}

		span {
			color: #fff;
		}

		date {
			font-size: 0.9rem;

			span {
				margin-top: 60px;
				font-weight: 400;
				font-size: 2rem;
			}

		}

	}

}

/* =Results
-------------------------------------------------------------- */
#results {
	float: left;
	width: 100%;

	.other-race {
		float: left;
		position: relative;
		width: 25%;
		background-size: cover;

		h2 {
			color: #fff;
			padding: 40px 30px 200px 30px;
			text-transform: uppercase;
			font-size: 2.3rem;
		}

		p {
			position: absolute;
			left: 0;
			bottom: 40px;
			font-family: $paragraph_font;
			padding: 40px 30px 0 30px;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 600;
			color: #fff;		
		}

	}

	#standings {
		float: left;
		width: 50%;
		background: #fff;
		padding-bottom: 60px;

		ul {
			padding: 60px 30px 40px 30px;
		}

		li {
			float: left;
			font-family: $paragraph_font;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 600;
			color: #666;
			margin-right: 40px;
			border-bottom: 4px solid #ccc;

			&:first-child {
				border-bottom: 4px solid #999;
				color: #333;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		table {
			width: 100%;
			padding: 20px 30px 40px 30px;
		}

		tr {
		}

		td {
  			padding: 5px 0;
			font-family: $paragraph_font;
			text-transform: uppercase;
			font-size: 1.0rem;
			font-weight: 600;
			color: #333;		

			span {
				display: block;
				color: #fff;
				font-weight: 700;
				font-size: 1.2rem;
				width: 50px;
				height: 25px;
				padding: 3px 0;
				top: auto;
				right: auto;
				bottom: auto;
				left: auto;
				text-align: center;
				text-indent: 0;
				-o-text-overflow: clip;
				text-overflow: clip;
				background: #ccc;
				-webkit-transform: skewX(-20deg);
				transform: skewX(-20deg);
  			}

  			img {
  				width: 80px;
  				display: block;
  			}

			&.pink span {
				border-bottom: 8px solid #ff88ff;
			}

			&.green span {
				border-bottom: 8px solid #44ff44;
			}

			&.red span {
				border-bottom: 8px solid #ff4444;
			}

			&.yellow span {
				border-bottom: 8px solid #eeee22;
			}

		}

	}

}

/* =Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: $heading_font;
	font-weight: 400;
}

h2 {
	font-size: 1.6rem;
}

/* =Buttons
-------------------------------------------------------------- */
.button {
	display: inline-block;
	background: $red;
	font-family: $button_font;
	font-size: 1rem;
	padding: 20px 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;

	text-decoration: none;

	&:hover {
		background: $hover_red;
	}

}

.highlighted-link {
	display: block;
	color: $red;
	font-family: $paragraph_font;
	font-size: 1rem;
	font-weight: 700;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

}


/* =Sliders
-------------------------------------------------------------- */
.slider {
	width: 100%;
	overflow-x: hidden;
}

.slider-inner {
	width: 100%;
}


/* =Site footer
-------------------------------------------------------------- */
#site-footer {
	float: left;
	width: $wrap_width;
	padding: 40px $wrap_padding;
	background: $dark_background_colour;

	p {
		float: left;
		color: #777;
		font-family: $paragraph_font;
		font-size: 0.9rem;
	}

	ul {
		float: left;
		margin-left: 40px;

		&#footer-menu {
			float: right;

			li {
				margin-left: 20px;
			}

		}

	}

	li {
		float: left;
		font-family: $paragraph_font;
		font-size: 0.9rem;
		font-weight: 700;
		margin-right: 20px;
	}

	a {
		color: #777;
		text-decoration: none;

		&:before {
			font-family: icomoon;
		}

		span {
			display: none;
		}

		&[href*="twitter.com"],
		&[href*="youtube.com"],
		&[href*="facebook.com"] {
			display: block;
			margin: 0 5px;

			&:hover {
				text-decoration: none;
			}

		}

		&[href*="twitter.com"]:before,
		&[href*="youtube.com"]:before,
		&[href*="facebook.com"]:before {
			display: block;
			font-size: 1.4rem;
			padding: 10px;
			margin-top: -10px;
		}

		&[href*="twitter.com"]:before {
			content: "\ea96";
		}

		&[href*="youtube.com"]:before {
			content: "\ea9d";
		}

		&[href*="facebook.com"]:before {
			content: "\ea90";
		}

		&:hover {
			text-decoration: underline;
			color: #aaa;
		}

	}

}

/* =Smaller devices
-------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

	#site-header {
		li {
			display: none;
			&:last-child {
				display: block;
			}
		}
	}

	#schedule {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	.slider {
		overflow-x: scroll;
	}

}

@media only screen and (max-width: 768px) {

	#main {

		article {
			width: 80%;
		}

	}

	#results {

		.other-race {
			display: none;
		}

		#standings {
			width: 100%;
		}

	}

	#standings {

		td.car {
			//display: none;
		}

	}

}
