$button_font: 'Open Sans', sans-serif;
$heading_font: 'Open Sans', sans-serif;
$paragraph_font: 'Open Sans', sans-serif;
$red: #cd0203;
$hover_red: #de1314;
$dark_background_colour: #202020;
$light_background_colour: #ebebeb;
$forum_odd_background: #f9f9f9;
$hover_red: #de1314;
$header_height: 70px;
$header_height_mobile: 53px;
$wrap_width: 92%;
$wrap_padding: 4%;


/* =Reset
-------------------------------------------------------------- */
body,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
}

body.home {
	background: $light_background_colour;
}

body {
	background: #fff;
}

b,
strong {
	font-weight: bold;
}

/* =Force HTML5 elements block
-------------------------------------------------------------- */
header,
nav,
article,
footer,
address {
	display: block;
}

/* =Hidden sections
-------------------------------------------------------------- */
.screen-reader-text {
	display: none;
}

/* =Fonts
-------------------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icons/icomoon.eot?gfoklk');
	src:  url('../fonts/icons/icomoon.eot?gfoklk#iefix') format('embedded-opentype'),
		url('../fonts/icons/icomoon.ttf?gfoklk') format('truetype'),
		url('../fonts/icons/icomoon.woff?gfoklk') format('woff'),
		url('../fonts/icons/icomoon.svg?gfoklk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* =Header
-------------------------------------------------------------- */
#site-header {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	background: $dark_background_colour;
	width: 100%;
	height: $header_height;
	box-shadow: 0 0 15px rgba(0,0,0,0.9);
	font-family: $button_font;

	h1 {
		float: left;
		margin: 5px 0 0 30px;
		width: 215px;
		height: 64px;
		background: url(../images/logo.png);
		text-indent: -999em;
		padding: 0;
		border: none;

		a {
			display: block;
		}

	}

	nav {
		float: left;
	}

	ul {
		float: left;
		width: 100%;
	}

	li {
		float: left;
		font-family: $button_font;
		font-size: 0.9rem;
		text-transform: uppercase;
		font-weight: 800;

		&:first-child {
			margin-left: 40px;
		}

		a {
			display: block;
			color: #fff;
			height: $header_height;
			line-height: $header_height;
			padding: 0 22px;
			text-decoration: none;

			&:hover {
				background: #222;
			}

		}

	}

	.sign-up {
		float: right;
		position: relative;
		background: $red;
		height: 55px;
		color: #fff;
		padding: 15px 20px 0 10px;
		font-size: 0.8rem;
		line-height: 1.1rem;
		font-weight: 400;
		text-transform: uppercase;

		&:hover {
			background: $hover_red;
			text-decoration: none;

			&:before {
				background: $hover_red;
			}

		}

		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: -20px;
			width: 20px;
			height: $header_height;
			background: $red;
			-webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%, 0 0);
			clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%, 0 0);
		}

		span {
			font-weight: 700;
			display: block;
			font-size: 1.3rem;
			margin-bottom: 0px;
		}

		a {
			display: inline;
			font-weight: 700;
			height: auto;
			line-height: 1;
			padding: 0;
			margin: 0;
		}

	}

}

/* =Main content
-------------------------------------------------------------- */

#main {
	float: left;
	width: 100%;
	margin: 100px 0 0 0;
	padding: 0;
}

/* =Featured news
-------------------------------------------------------------- */

#featured-news {
	position: relative;
	width: 100%;
	height: 550px;
	background-position: center;
	background-size: cover;
	text-align: center;

	.text {
		position: absolute;
		bottom: 50px;
		width: 100%;
	}

	h1 {
		width: 60%;
		margin: 0 0 30px 0;
		padding: 0 20%;
		color: #fff;
		text-align: center;
		font-family: $heading_font;
		font-size: 3rem;
		text-shadow: 0 0 2px #000;
		font-weight: 700;
		border: none;
	}

}

/* =Latest news
-------------------------------------------------------------- */

#latest-news {
	width: $wrap_width;
	padding: 0 $wrap_padding;

	header h2 {
		margin: 40px 0 20px 0;
	}

	article {
		float: left;
		width: 32%;
		padding-bottom: 10px;
		background: #fff;
		margin: 0 20px;
		position: relative;
		left: -20px;

		img {
			display: block;
			width: 100%;
		}

		date,
		p {
			display: block;
			padding-right: 30px;
			padding-left: 30px;
		}

		date {
			margin: 20px 0;
			font-family: $paragraph_font;
			font-weight: 600;
			font-size: 0.8rem;
		}

		p {
			font-family: $paragraph_font;
			font-weight: 400;
			font-size: 1.1rem;
		}

	}
}

/* =Schedule
-------------------------------------------------------------- */
#schedule {
	background: $dark_background_colour;
	float: left;
	width: 100%;
	padding: 60px 0;

	img {
		display: block;
		margin: 0 auto 20px auto;
	}

	li {
		float: left;
		width: 16.6666%;
		font-family: $button_font;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.1rem;
		text-align: center;
		color: #bbb;

		div {
			padding: 20px 0;
			border-left: 1px solid #333;

		}

		&.post-1 div {
			border-left: none;
		}

		&.double-slide {
			width: 33.3333%;

			h2 {
				color: #fff;
				font-weight: 600;
				font-size: 1.5rem;
				margin: 20px 0 20px 0;
			}

			span {
				color: #bbb;
				display: block;
				margin-bottom: 10px;
				font-size: 0.9em;
			}

			date {
				display: inline;
				font-size: 0.9em;
			}

		}

		span,
		date {
			display: block;
		}

		span {
			color: #fff;
		}

		date {
			font-size: 0.9rem;

			span {
				margin-top: 60px;
				font-weight: 400;
				font-size: 2rem;
			}

		}

	}

}

/* =Results
-------------------------------------------------------------- */
#results {
	float: left;
	width: 100%;

	.other-race {
		float: left;
		position: relative;
		width: 20%;
		background-size: cover;

		h2 {
			color: #fff;
			padding: 40px 30px 200px 30px;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 2.3rem;
		}

		p {
			position: absolute;
			left: 0;
			bottom: 40px;
			font-family: $paragraph_font;
			padding: 40px 30px 0 30px;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 600;
			color: #fff;		
		}

	}

	#standings {
		float: left;
		width: 60%;
		background: #fff;
		padding-bottom: 60px;

		ul {
			padding: 60px 30px 40px 30px;
		}

		li {
			float: left;
			font-family: $paragraph_font;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 600;
			color: #666;
			margin-right: 40px;
			border-bottom: 4px solid #ccc;

			&:first-child {
				border-bottom: 4px solid #999;
				color: #333;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		table {
			width: 100%;
			padding: 20px 30px 40px 30px;
		}

		tr {
		}

		td {
  			padding: 5px 0;
			font-family: $paragraph_font;
			text-transform: uppercase;
			font-size: 1.0rem;
			font-weight: 600;
			color: #333;		

			span {
				display: block;
				color: #fff;
				font-weight: 700;
				font-size: 1.2rem;
				width: 50px;
				height: 25px;
				padding: 3px 0;
				top: auto;
				right: auto;
				bottom: auto;
				left: auto;
				text-align: center;
				text-indent: 0;
				-o-text-overflow: clip;
				text-overflow: clip;
				background: #ccc;
				-webkit-transform: skewX(-20deg);
				transform: skewX(-20deg);
  			}

  			img {
  				width: 80px;
  				display: block;
  			}

			&.pink span {
				border-bottom: 8px solid #ff88ff;
			}

			&.green span {
				border-bottom: 8px solid #44ff44;
			}

			&.red span {
				border-bottom: 8px solid #ff4444;
			}

			&.yellow span {
				border-bottom: 8px solid #eeee22;
			}

		}

	}

}

/* =Sidebar
-------------------------------------------------------------- */

#sidebar {
	float: right;
	width: 25%;
	background: #efefef;
	border-left: 6px solid #aaa;
	padding: 40px;
	margin: 0 0 60px 0;

	h3 {
		color: #000;
		font-size: 1.6rem;
		margin: 0 0 20px 0;
	}

	ul,
	li {
		list-style: square;
	}

	ul {
		margin: 0 0 60px 0;
	}

	li {
		margin: 0 0 0 25px;
		padding: 5px 0;
		font-size: 1rem;
	}

}

/* =bbPress layout
-------------------------------------------------------------- */

#bbpress-wrapper {
	width: 92%;
	max-width: 1280px;
	margin: 0 auto;
}

#bbpress-forums {
	float: left;
	width: 63%;
	padding: 0 0 60px 0;

	.bbp-breadcrumb {
		display: none;
	}

}

.bbp-topic-form br,
.bbp-admin-links a.bbp-topic-super-sticky-link,
.bbp-author-role,
.bbp-footer,
.bbp-form legend,
.bbp-topic-meta,
.bbp-topics img,
.bbp-topic-voice-count,
#subscription-toggle,
.bbp-forum-description,
.bbp-template-notice,
.bbp-topic-description,
.bbp-pagination-count {
	display: none;
}

/* Forums */

.bbp-header li {
	font-weight: 600;
}

.bbp-body li {
	min-height: 3rem;
}

.type-topic li {
	min-height: 2rem;
}

.bbp-author-ip,
.bbp-header li,
.bbp-body .bbp-forum-freshness,
.bbp-forum-content {
	font-size: 0.9rem;
}

.bbp-forum-info {
	width: 41%;	
}

.bbp-forum-topic-count {
	width: 11%;
	text-align: center;
}

.bbp-forum-reply-count {
	width: 11%;	
	text-align: center;
}

.bbp-forum-freshness {
	width: 21%;	
}

.bbp-body ul {
	float: left;
	width:100%;
}

/* Topics */
.forum-titles {
	float: left;
	width: 100%;
	background: $light_background_colour;
}

.bbp-header,
.bbp-body,
.bbp-footer {
	width: 100%;

	.odd li {
		background: #fff;
	}

	li {
		float: left;
		padding: 1.4rem 2%;
		background: $forum_odd_background;
	}

}

.bbp-header {

	li {
		padding: 10px 2%;
	}

}

.bbp-topic-title {
	width: 56%;
}

.bbp-topic-reply-count {
	width: 11%;
}

.bbp-topic-freshness {
	width: 21%;
	font-size: 0.9rem;
}

.bbp-submit-wrapper {
	margin-top: 40px;
}

.bbp-topic-form p {
	margin: 1px 0;
}

/* Posts */
.bbp-pagination-links {
	float: left;
	width: 100%;
	font-family: $paragraph_font;
	font-size: 1em;
	margin: 40px 0;

	a {
		display: inline-block;
		padding: 0 5px;
	}

}

.bbp-replies {
	.bbp-header {
		display: none;
	}
}

.bbp-reply-header {
	text-align: center;
	font-size: 0.8rem;
	margin-top: 40px;
}

.type-topic,
.type-reply {
	float: left;
	width: 100%;
	padding: 0;

	body.single-topic & {
		border-bottom: 1px solid #ccc;		
	}

}

.bbp-reply-permalink,
.bbp-reply-post-date {
	display: inline-block;
	color: #666;
}

/* Icons */
.bbp-admin-links {
	display: block;
	text-indent: -999em;

	a {
		margin-left: 4px;
		float: right;
		width: 14px;
		height: 14px;
		background-color: rgba(255,0,0,0.2);
		background-size: 100%;
	}

}

.bbp-reply-edit-link,
.bbp-topic-edit-link {
	background-image: url(../images/icon-edit.png);
}

.bbp-reply-move-link,
.bbp-topic-move-link {
	background-image: url(../images/icon-move.png);
}

.bbp-reply-split-link,
.bbp-topic-split-link {
	background-image: url(../images/icon-split.png);
}

.bbp-reply-close-link,
.bbp-topic-close-link {
	background-image: url(../images/icon-close.png);
}

.bbp-reply-sticky-link,
.bbp-topic-sticky-link {
	background-image: url(../images/icon-sticky.png);
}

.bbp-reply-super-sticky-link,
.bbp-topic-super-sticky-link {
	background-image: url(../images/icon-sticky.png);
}

.bbp-reply-merge-link,
.bbp-topic-merge-link {
	background-image: url(../images/icon-merge.png);
}

.bbp-reply-trash-link,
.bbp-topic-trash-link {
	background-image: url(../images/icon-trash.png);
}

.bbp-reply-spam-link,
.bbp-topic-spam-link {
	background-image: url(../images/icon-spam.png);
}

.bbp-reply-to-link,
.bbp-topic-reply-link {
	background-image: url(../images/icon-reply.png);
}

.bbp-meta {
	float: right;
}

.bbp-reply-header,
#bbpress-forums .reply {
	float: left;
	width: 100%;
}

.bbp-reply-author {
	float: left;
	width: 25%;
}

.bbp-reply-content {
	float: right;
	width: 75%;
}

.bbp-reply-signature p {
	font-size: 1rem;
	color: #666;
	margin: 10px 0;
}

/* =Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: $heading_font;
	font-weight: 400;
}

h1 {
	font-size: 2.2rem;
	font-weight: 600;
	margin: 40px 0 40px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #ccc;
}

h2 {
	font-size: 1.6rem;
}

textarea,
label,
input,
legend,
p,
li {
	font-family: $paragraph_font;
	font-size: 1.2rem;
}

p {
	margin: 10px 0 30px 0;
}

input {
	padding: 10px 20px;
}

textarea {
	width: 96%;
	margin: 0 0 20px 0;
	padding: 10px 2%;
}

label {
	display: inline-block;
	margin: 20px 0 0 0;
	font-size: 1rem;
}

input {
	display: block;
	margin: 5px 0 20px 0;	
}

input#bbp_topic_subscription {
	display: inline-block;
}

select {
	display: inline-block;
	font-size: 1rem;
}

img {
	max-width: 100%;
}

/* =Links
-------------------------------------------------------------- */

a {
	color: $red;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

}

/* =Buttons
-------------------------------------------------------------- */
.button {
	display: inline-block;
	background: $red;
	font-family: $button_font;
	font-size: 1rem;
	padding: 20px 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	border: none;
	outline: none;

	text-decoration: none;

	&:hover {
		background: $hover_red;
	}

}

.highlighted-link {
	display: block;
	color: $red;
	font-family: $paragraph_font;
	font-size: 1rem;
	font-weight: 700;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

}


/* =Sliders
-------------------------------------------------------------- */
.slider {
	width: 100%;
	overflow-x: hidden;
}

.slider-inner {
	width: 100%;
}


/* =Site footer
-------------------------------------------------------------- */
#site-footer {
	float: left;
	width: $wrap_width;
	padding: 40px $wrap_padding;
	background: $dark_background_colour;

	p {
		float: left;
		color: #777;
		font-family: $paragraph_font;
		font-size: 0.9rem;
	}

	ul {
		float: left;
		margin-left: 40px;

		&#footer-menu {
			float: right;

			li {
				margin-left: 20px;
			}

		}

	}

	li {
		float: left;
		font-family: $paragraph_font;
		font-size: 0.9rem;
		font-weight: 700;
		margin-right: 20px;
	}

	a {
		color: #777;
		text-decoration: none;

		&:before {
			font-family: icomoon;
		}

		span {
			display: none;
		}

		&[href*="twitter.com"],
		&[href*="youtube.com"],
		&[href*="facebook.com"] {
			display: block;
			margin: 0 5px;

			&:hover {
				text-decoration: none;
			}

		}

		&[href*="twitter.com"]:before,
		&[href*="youtube.com"]:before,
		&[href*="facebook.com"]:before {
			display: block;
			font-size: 1.4rem;
			padding: 10px;
			margin-top: -10px;
		}

		&[href*="twitter.com"]:before {
			content: "\e901";
		}

		&[href*="youtube.com"]:before {
			content: "\e903";
		}

		&[href*="facebook.com"]:before {
			content: "\e902";
		}

		&:hover {
			text-decoration: underline;
			color: #aaa;
		}

	}

}

/* =Smaller devices
-------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

	// Header
	#site-header {
		text-align: center;
		height: $header_height_mobile;

		ul {
			position: absolute;
			left: 0px;
			top: $header_height_mobile;
			background: $dark_background_colour;
			width: 300px;
		}

		li {
			display: block;
			width: 300px;
			text-align: left;
			border-top: 1px solid #333;
			border-bottom: 1px solid #111;

			&:first-child {
				margin-left: 0;
			}
		}

		h1 {
			float: none;
			display: inline-block;
			margin: 8px 0 0 30px;
			width: 134px;
			height: 40px;
			background-size: 100%;
		}


		nav {
			float: left;
			position: relative;

			ul {
				transition: 0.3s;
				left: -300px;
				height: calc(100vh - 50px); /* Make menu display to the bottom of the screen */
			}

			&.open {

				ul {
					left: 0;
					display: block;
				}

			}

			&:before {
				position: absolute;
				left: 10px;
				top: 10px;
				display: block;
				width: 60px;
				height: 70px;
				color: #fff;
				font-family: icomoon;
				font-size: 2rem;
				content: "\e900";
			}

			&:hover {
				cursor: pointer;
			}

			&.open {
				&:before {
					content: "\e904";
				}
			}

		}

		.sign-up {
			height: 49px;
			color: #fff;
			padding: 4px 20px 0 10px;
			font-size: 0.8rem;
			line-height: 1.2rem;

			&:before {
				height: $header_height_mobile;
			}
		}

	}

	// Sidebar setup
	#bbpress-forums {
		width: 100%;
	}
	#sidebar {
		display: none;
	}

	// Main
	#main {
		margin: 60px 0 0 0;
	}

	// Schedule
	#schedule {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	.slider {
		overflow-x: scroll;
	}

}

@media only screen and (max-width: 768px) {

	#main {

		article {
			width: 80%;
		}

	}

	#results {

		.other-race {
			display: none;
		}

		#standings {
			width: 100%;
		}

	}

	#standings {

		td.car {
			//display: none;
		}

	}

}
